@model ComicCreateViewModel

@{
    ViewData["Title"] = "Create";

    List<SelectListItem> creatorsSelectList = new();
    foreach(Creator comicCreator in Model.AllAvailableComicCreators)
    {
        creatorsSelectList.Add
        (
            new SelectListItem()
                    {
                        Value = comicCreator.Id.ToString(),
                        Text = comicCreator.FullName
                    }
        );
    }
}

<h1>Create</h1>

<h4>Comic</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Artist" class="control-label"></label>
                <input asp-for="Artist" class="form-control" />
                <span asp-validation-for="Artist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Writer" class="control-label"></label>
                <input asp-for="Writer" class="form-control" />
                <span asp-validation-for="Writer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rating" class="control-label"></label>
                <input asp-for="rating" class="form-control" />
                <span asp-validation-for="rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArcNumber" class="control-label"></label>
                <input asp-for="ArcNumber" class="form-control" />
                <span asp-validation-for="ArcNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssueNumber" class="control-label"></label>
                <input asp-for="IssueNumber" class="form-control" />
                <span asp-validation-for="IssueNumber" class="text-danger"></span>
            </div>
             <div class="form-group">
                <select asp-for="ChosenCreator" asp-items="creatorsSelectList" >
                    @foreach (Creator comicCreator in Model.AllAvailableComicCreators)
                    {
                            <option value="@comicCreator.Id">@comicCreator.FullName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
